<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <mat-toolbar class="header">
        <div id="imagenes">

            <mat-card id="img1" >
                <img id="logo" mat-card-image src="../../../assets/img/LogoPJimg.png">
            </mat-card>
    
            <mat-card id="img" >
                <img id="logo" mat-card-image src="../../../assets/img/nombrelogo.png">
            </mat-card>
        </div>

      
        <section id="opciones">
            <div>
                <button mat-raised-button id="info">Acerca de</button>
            </div>
            <div>
                <button mat-raised-button id="receta">Recetas Populares</button>
            </div>

            <div>
                <button mat-raised-button id="videos">Videos</button>
            </div>

            <div>
                <button mat-raised-button id="categorias" (click)="explorar()">Explorar</button>
            </div>

        </section>
        
        <section id="btn">
            <div>
                <button mat-raised-button (click)="login()" id="login">Iniciar Sesion</button>
            </div>
            <div>
                <button mat-raised-button (click)="NewUsuario()" id="register">Registrate</button>
            </div>
        </section>

      </mat-toolbar>
      



      <div id="searchForm">
        <mat-form-field class="example-full-width">
        <mat-label>Search Recipe</mat-label>
        <div id="inputSearch">
            <input matInput placeholder="Ex. Pizza" value="Sushi" id="search" [(ngModel)]="query">
        </div>
        </mat-form-field>
        <div id="buttonSearch">
            <button (click)="searchQuery(query)" mat-mini-fab matTooltip="Search" color="primary">
                <mat-icon>search</mat-icon>
            </button>
        </div>
    </div>
      


      <div *ngIf="query!=''">
        <div *ngFor="let receta of info" id="container">
            <div class="recetas">
                <h1> {{receta.title}}</h1><br>
                <img src="{{receta.image}}" width="400"><br>
                <div class="summary" [innerHTML]="(receta.summary|slice:0:300)+'...'"></div>
                <button mat-raised-button color="primary" (click)="goToRecipe(receta.id)">Ver Receta -></button>
            </div>
            
        </div>
      </div>
      <div *ngIf="showComponent==true"> 
        <div *ngFor="let receta of Object.recipes" id="container">
            <div class="recetas">
                <h1> {{receta.title}}</h1><br>
                <img src="{{receta.image}}" width="400"><br>
                <div class="summary" [innerHTML]="(receta.summary|slice:0:300)+'...'"></div>
                <button mat-raised-button color="primary" (click)="goToRecipe(receta.id)">Ver Receta -></button>
            </div>
        </div>
      </div>
      
</body>
</html>
