<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <mat-toolbar class="header">
        <div id="imagenes">

            <mat-card id="img1" >
                <img id="logo" mat-card-image src="../../../assets/img/LogoPJimg.png">
            </mat-card>
    
            <mat-card id="img" >
                <button id="principal" (click)="principal()"><img id="logo" mat-card-image src="../../../assets/img/nombrelogo.png"></button>
            </mat-card>
        </div>

      
        <section id="opciones">
            <div>
                <button mat-raised-button id="info" (click)="AcercaDe()">Acerca de nuestra pagina</button>
            </div>

            <div>
                <button mat-raised-button id="categorias" (click)="explorar()">Buscar por Ingredientes</button>
            </div>

        </section>
        
        <section id="btn">
            <div>
                <button mat-raised-button (click)="login()" id="login">Iniciar Sesion</button>
            </div>
            <div>
                <button mat-raised-button (click)="NewUsuario()" id="register">Registrate</button>
            </div>
        </section>

      </mat-toolbar>

    
    <mat-sidenav-container class="app-container">
    
        <h1 class="titulo1">¿De que trata nuestra pagina?</h1>
        <p>La pagina es una plataforma donde se pueden consultar varias recetas, los usuarios pueden crear su propia cuenta donde pueden subir sus recetas
            o buscar por ingredientes que tengan disponibles.
        </p>
        <h1 class="titulo1">¿Cual fue el motivo de crear esta pagina?</h1>
        <p>Hay personas a las que les gusta probar cosas nuevas o intentar cocinar algo diferente, entonces por que no ayudarles a tener una pagina donde puedan 
            encontrar diversos platos, y a las personas que les gusta compartir sus creaciones puedan compartirlas con varias personas.
        </p>
        
    </mat-sidenav-container>
      
      
</body>
</html>

