body{
    background-image: url('../../../assets/img/eat.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    height: 5300px;
    
 
}

.toolbar-item-spacer {
    flex: 1 1 auto;
}

.app-container {
    margin: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}  
.app-sidenav {
    width: 230px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}
.app-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
   
} 

.x{
    background-color: rgba(0, 0, 0, 0.5);  
    color: white;
}

.toolbar{
    background-color: rgba(237, 104, 15, 0.6);
    color: white;

}

.a{
    color: white;
}

.d{
    color: white;
}

#container{
    background-color:  rgba(0, 0, 0, 0.5);
    margin-top: 30px;
    margin-left: 300px;
    margin-right: 300px;
    .recetas{
        display: flex;
        flex-direction: column;
        background-color:  rgba(0, 0, 0, 0.5);
        color: white;
        h1{
            font-size: 28px;
            margin: 5px;
            color: white;
            font-family: fantasy;
        }
        img{
            align-self: center;
        }
        .summary{
            font-weight: normal;
        }
    }

}