<!DOCTYPE html> 
<html lang="en"> 
<head> 
    <meta charset="UTF-8"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> 
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> 
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
    <title>Document</title> 
</head> 
 
<body> 
 
    <mat-card class="example-card" id="contenido">
        
        <h1 class="titulo">Nuevo Comic</h1>
          <mat-card-content id="cont">
              <div id="formulario" >
                <mat-form-field class="control" class="ancho">
                  <mat-label>Nombre</mat-label>
                  <mat-icon matPrefix>person</mat-icon>
                  <input type="text" matInput [(ngModel)]="name">
                </mat-form-field>
              </div>

              <div id="formulario" >
                <mat-form-field class="control" class="ancho">
                  <mat-label>Año de impresion</mat-label>
                  <mat-icon matPrefix>person</mat-icon>
                  <input type="number" matInput [(ngModel)]="year">
                </mat-form-field>
              </div>
  
                <div id="formulario" >
                  <mat-form-field class="control" class="ancho">
                    <mat-label>Sinopsis</mat-label>
                    <mat-icon matPrefix>lock</mat-icon>
                    <input type="text" matInput [(ngModel)]="sip">
                  </mat-form-field>
                </div>

                <div id="formulario" >
                    <mat-form-field class="control" class="ancho">
                        <mat-label>State</mat-label>
                        <mat-select [(ngModel)]="edit">
                          <mat-option *ngFor="let state of states" [value]="state">{{state}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                  </div>

          </mat-card-content>
  
          <mat-card-actions id="cont2" class="btn2">
            <button mat-button (click)="NewComic('0ms', '0ms')">Grabar Comic</button>
          </mat-card-actions>
          <mat-card-actions id="cont2" class="btn2">
            <button mat-button (click)="Volver()">Volver</button>
          </mat-card-actions>
        </mat-card>
</body>

</html>
